
/*.jumbotron h1 {*/
	/*color:#790909;
	}*/

	body {
		background-image: url "../images/SeamlessPatternBauhaus.png";
		background-repeat: no-repeat;
		/*background-color: #333;*/
	}

/*.container::after {
 content: " - Remember this";
    background-color: yellow;
    color: red;
    font-weight: bold;
    margin: 0 auto;
    }*/

    p {
    	margin: 5 5%;
    	font-size: 200%;
    	padding-left: : 60px;
    	padding-top: 10px;
    }


    img {
    	position: relative;
    	left: 12px;
    }


    #bauhauslogo {

    	position: absolute;
    	left: 710px;
    	top: 12px;

    }




    #bhlogo {
    	max-width: 1000px;
    	/*margin: 0 auto;*/
    	/*color: #100;*/
    	/*text-align: center;*/
    	/*margin: 0 auto;*/
    	/*background-color: #CD020F;*/
    }

    #graphicArray {
    	/*float: left;*/
    	/*position: absolute;*/
    	margin-left: : 100px;
    	font-size: 800%;
    	display: inline-block;
    	letter-spacing: 15px;
    	background-color: #CD020F;
    	color: white;
    	font-weight: 400%;
    	font-family: 'Bungee', cursive;
    	text-shadow: 2px 2px black, -2px -2px black, 2px -2px black, -2px 2px black;

    }

    .guesses {
    	max-width: 1000px;
    	/*text-align: center;*/
    	margin: 0 auto;
    	background-color: #CD020F;
    	/*border-right-width: 4px;*/
    	/*border-right-color: #fff;*/
    	/*border: 112px;*/
    	padding: 26px 0px;
    }

    .center-paragraph {
    	text-align: center;
    }