
.jumbotron h1 {
	color:#790909;
}

body {
	background-image: url " ../images/SeamlessPatternBauhaus.png";
	background-repeat: no-repeat;
	/*background-color: #333;*/
}

/*.container::after {
 content: " - Remember this";
    background-color: yellow;
    color: red;
    font-weight: bold;
    margin: 0 auto;
    }*/

    p {
    	margin: 0 5%;
    	font-size: 200%;
    	padding-left: : 60px;
    }


    img {
    	text-align: center;
    }


    #bauhauslogo {

    	position: absolute;
    	left: 710px;
    	top: 12px;

    }




#bhlogo {
max-width: 1000px;
margin: 0 auto;
color: #100;
 }

 #graphicArray {
 	margin-left: : 100px;
 	font-size: 400%;
 	display: inline-block;
 	letter-spacing: 10px;
 	background-color: #CD020F;
 	color: white;

 }